services:

  redis:
    image: redis/redis-stack-server:latest
    ports:
      - "6379:6379"

  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    depends_on:
      - redis

  frontend:
    build:
      context: ../RealtimeMarketApplicationFrontend
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  backend:
    build: .
    container_name: backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_URL: redis://redis:6379
